.newspaper{
  column-count:3;
  column-gap:80px;
  column-rule:4px outset #cccccc;

  /* Firefox */
  -moz-column-count:3;
  -moz-column-gap:80px;
  -moz-column-rule:4px outset #cccccc;

  /* Safari and Chrome */
  -webkit-column-count:3;
  -webkit-column-gap:80px;
  -webkit-column-rule:4px outset #cccccc;
  }

  @font-face {
    font-family: myFirstFont;
    src: url('OldNewspaperTypes.ttf');
}

@font-face {
  font-family: bodyFont;
  src: url('timeburner_regular.ttf');
}

.header {
  font-family:myFirstFont;
  font-size: 48px;
  text-align: center;
}

body {
  font-family: bodyFont;
  font-size: 17px;
}

#content {
  position: relative;
  bottom:80px;
}


hr.style-five {
    border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 10px 1px black;
}
hr.style-five:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

#spanDate {
  font-size: 20px;
  text-align: right;
}

#rss img {
  width: 20px;
  height: 20px;
  text-align: right;
}

/*Navigation bar*/

nav {
    display: block;
    text-align: center;
  }
  nav ul {
    margin: 0;
    padding:0;
    list-style: none;
  }
  .nav a {
    display:block;
    background: #111;
    color:#fff;
    text-decoration: none;
    padding: .8em 1.8em;
    text-transform: uppercase;
    font-size: 80%;letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
  }
  .nav{
    vertical-align: top;
    display: inline-block;
    box-shadow: 1px -1px -1px 1px #000, -1px 1px -1px 1px #fff, 0 0 6px 3px #fff;
    border-radius:6px;
  }
  .nav li{position: relative;}
  .nav > li {
    float:left;
    border-bottom: 4px #aaa solid;
    margin-right: 1px;
  }
  .nav > li > a {
    margin-bottom:1px;
    box-shadow:inset 0 2em .33em -.5em #555;
  }
  .nav > li:hover , .nav > li:hover >a{  border-bottom-color:orange;}
  .nav li:hover > a { color:orange; }
  .nav > li:first-child  { border-radius: 4px 0 0 4px;}
  .nav > li:first-child>a{border-radius: 4px 0 0 0;}
  .nav > li:last-child  {
    border-radius: 0 0 4px 0;
    margin-right: 0;
  }
  .nav > li:last-child >a{border-radius: 0 4px 0 0; }
  .nav li li a { margin-top:1px}



    .nav li a:first-child:nth-last-child(2):before {
     content:"";
     position: absolute;
     height:0;
     width: 0;
     border: 5px solid transparent;
     top: 50% ;
     right:5px;
   }

   /* submenu positioning*/
.nav ul {
  position: absolute;
  white-space: nowrap;
  border-bottom: 5px solid  orange;
  z-index: 1;
  left: -99999em;
}
.nav > li:hover > ul {
  left: auto;
  padding-top: 5px  ;
  min-width: 100%;
}
.nav > li li ul {  border-left:1px solid #fff;}


.nav > li li:hover > ul {
 /* margin-left: 1px */
  left: 100%;
  top: -1px;
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before {
  border-top-color: #aaa;
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-bottom-color: orange;
  margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {
  border-left-color: #aaa;
  margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-right-color: orange;
  right: 10px;
}

#show-case
{
      position: relative;
        border:solid;
        border-radius:9px;
        height:300px;
        margin:50px auto;
        margin-left: 40px;
        width:450px;
        display: block;
        bottom: 60px;
        right: 20px;
        margin-right: 10px;
      }

.img
{
    position:absolute;
    width:450px;
    height:300px;
}

#first_column_story {
  position: relative;
  bottom: 90px;
}

#seperator {
  position: relative;
  bottom: 100px;
}

.titles {
  font-family: myFirstFont;
  font-size: 32px;
  text-align: center;
}

#video-container {
  width: 450px;
  height: 350px;
  position: relative;
}

#video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  -ms-transition: opacity .3s;
  transition: opacity .3s;
  background-image: linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
  background-image: -o-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.13, rgb(3,113,168)),
    color-stop(1, rgb(0,136,204))
  );
}

#video-container:hover #video-controls {
  opacity: .9;
}

button {
  background: rgba(0,0,0,.5);
  border: 0;
  color: #EEE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}

#seek-bar {
  width: 360px;
}

#volume-bar {
  width: 60px;
}

#video {
  filter: url(filters.svg#blackandwhite);
}

